body{
	margin: 0px;
	padding: 0px;
}
.first{
	height: 280px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	
}
.first img{
	border-radius: 50px;
	display: block;
	margin: auto;
}
.first:hover{
	background-color: red;
}


.input{
	padding-left: 200px;
}
.first p:hover{
	
}

.dinner{
    height: 500px;
}
.icon i:hover{
    color: rgb(255, 98, 0);
    cursor: pointer;
}
nav input{
    width: 600px;
    padding: 11px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 2px;
}
.input i{
    margin-left: -28px;
    color: black;
    font-size: 20px;
}

.main{
    height: 500px;
}
.food-item .card{
    height: 350px;
}
.food-item .card p{
    color: #000;
}
.food-item .card h2{
	 color: #000;
}


.contact{
	padding-right: 100%;
}
.iframe{
	width: 100%;
	height: 220px;
	border-style: 0;
	color: blue;
}
.footer{
	background-color: blue;
}